.fetch-template-container {

    overflow: hidden; /* Hide any overflow */
}

.scrollable {
    display: flex;
    /* Ensure there's enough width for scrolling */
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 16px;

    -ms-overflow-style: none; /* IE and Edge */
}


.image-list {
    display: flex;
    gap: 16px;
    list-style: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.inner {
    width: 300px; /* Width of each image container */
    height: 400px; /* Height of each image container */
    border-radius: 20px; /* Border radius */
    flex-shrink: 0; /* Prevent images from shrinking */
    background-color: #fff; /* Set background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow */
    scroll-snap-align: start; /* Snap each image to the start of the container */
    position: relative; /* Make the position of the image container relative */
}

.inner img {
    width: 100%; /* Make the image fill the entire container */
    height: 60%; /* Make the image fill the entire container */
    object-fit: cover; /* Ensure the image covers the entire container */
    border-radius: 20px 20px 0 0; /* Border radius for image */
}

.inner:hover {
    background-color: #f0f0f0; /* Background color on hover */
}

.text-gray {
    color: #888; /* Text color */
    font-size: 14px; /* Font size */
    margin: 10px; /* Margin */
}

.button-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.button-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #0056b3;
}

/* Hide the scrollbar for WebKit browsers */
.scrollable::-webkit-scrollbar {
    display: none;
}
