.about-us-container {
    display: flex;           /* Enables flexbox */
    justify-content: center; /* Centers horizontally */
         /* Centers vertically */
    height: 60vh;           /* Full viewport height */
    background-color: #f0f0f0; /* Background color for the entire section */
}

.about-us-content {
    text-align: center;     /* Centers text horizontally */
}

.about-us-mission {
    display: flex;          /* Enables flexbox within this block */
    flex-direction: column; /* Stacks text vertically */
    gap: 10px;              /* Space between h1 elements */
}
.custom-text-blue {
    background-color: black;
}
.custom-text-blck{
    background-color: black;
}
.developer {
    justify-content: center;
}