.aboutus {
    margin: 0 auto;
    max-width: 900px;
    margin-top: 30px;
    padding: 10px;
}
.aboutus h1{
    text-align: center;
    font-size: 20px;
    
}
.conten{
    margin: 0 auto;
    max-width: 800px;
}
.conten-p{
    text-align: center;
    font-size: 45px;
    width:auto;
    color: black;
    font-style: italic;
}
.informetoin-p{
    text-align: center;
    font-size: 20px;
    width: auto;
    padding-bottom: 200px;
}
.part2{
    min-height: 1000px;
    width: 100%;
    background-color: #004b81;
    padding-left:100px ;
}
.part2-0{
    width: 50%;
    height: 1000px;
}
.part2-1{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 500;
    padding-top: 70px;
    width: 50%;

}
.part2-2{
    color: rgb(255, 255, 255);
    font-size: 45px;
    font-weight: 500;
    width: 100%;
}

.part2-3{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;
    margin-top: 70px;
    width: 50%;
}
.part2-4{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;
    width: 50%;
    position: relative;
    top: 5px;
}
.part2-5{
    background-color: transparent;
    width: 365px;
    float: right;
    transform:  scale(2);
    position: relative;
    right: 190px;
    top:140px
}
.part2-6{
    background-color: transparent;
    width:120px;
    height:90px;
    float: left;
    transform:  scale(2);
    border: 1cm;
    border: radius 10px;
    position: relative;
    top:75px;
    left:60px

}
.part2-7{
    background-color: transparent;
    width:161px;
    height:90px;
    float: left;
    transform:  scale(2);
    border: 1cm;
    border: radius 10px;
    position: relative;
    top:75px;
    left:500px
}
.part2-8{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;
    width: 150px;
    position: relative;
    top:100px;

    
}
.part2-9{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 50px;
    width: 200px;
    position: relative;
    top:110px;
}
.part2-10{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;
    position: relative;
    left:538px;
    top:-102px;
}
.part2-11{
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: relative;
    left: 538px;
    top:-100px;
    width: 200px;
}
.part2-12{
    background-color: transparent;
    width:121px;
    height:90px;
    float: left;
    transform:  scale(2);
    border: 1cm;
    border: radius 10px;
    position: relative;
    top:75px;
    left:800px;
}
.part2-13{
    width: 190px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;
    position: relative;
    left:1019px;
    top:-304px;
}
.part2-14{
    color: rgb(255, 255, 255);
    width: 190px;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    left:1019px;
    top:-304px;
}

.part3{
    width: 100%;
    height: 100%;
    background-color: black;
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    padding-right: 100px;
}
.part3-1{
    color: rgb(190, 188, 188);
    font-size: 20px;
    font-weight: 50px;
}
.part3-2{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: 800px;
    text-align: left ;
    width: 50%;
    font-style: italic;
}
.part3-3{
    color: rgb(190, 188, 188);
    font-size: 20px;
    font-weight: 50px;
    width: 50%;
    
}