.pageBody{
    width: calc(100% - 280px);
    border: 1px solid rgb(105, 104, 104);
    margin: 60px 10px;
    float: left;
    height: auto;
    border-radius: 10px;
    min-height: 700px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 1s ease-in-out;
    padding-bottom: 100px;
    overflow: hidden;
    position: relative;
    z-index: -1;
} 
.editableBorder {
    border: 1px solid #ccc; 
}
[contenteditable="true"]:focus {
    outline: none;
}
.styleHoveredPageBody{
    margin-left: 230px;
}
.eyeClicked{
    background-color: white;
    border-radius: 0px;
    position: absolute;
    margin: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}