.splitL {
    height: 100%;
    width: 60%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;


}
.splitR {
    height: 100%;
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
/* Control the left side */
.left {
    left: 0;
    align-items: center;
    justify-content: center;

}

/* Control the right side */
.right {
    right: 0;

}
.inputs{
    width:max-content;
    color: #464646;
    padding: 3px 2.5px;
    background-color: white;
    round-clip: 13px;
    border: 2px solid gray; /* Specify the border style (1px solid black in this example) */
    border-radius: 5px;

}
.focus-border-input {
    border: 1px solid #000; /* Default border style */
    border-radius: 5px; /* Adjust the border-radius value as needed */
}

.focus-border-input:focus {
    border-color: deepskyblue; /* Border color when input is in focus */
    box-shadow: 0 0 5px deepskyblue; /* Glow effect when input is in focus */
    outline: none; /* Remove default outline */
    border-right: 2px solid #1e5799;
}
/* ForgotPassword.css */
.splitR {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    max-width: 400px; /* Adjust as needed */
}

.form-item {
    margin-bottom: 20px; /* Add padding between form items */
}
/* ForgotPassword.css */

@media screen and (max-width: 768px) {
    /* Add responsive styles here */
}

@media screen and (max-width: 480px) {
    /* Add responsive styles here */
}

