.style {
    position: fixed;
    right: 0;
    width: 260px;
    background-color: rgb(41, 41, 41);
    height: 100vh;
    margin-top: 45px;
    overflow-y: scroll;
    transition: 1s ease-in-out;
    padding-bottom: 40px;
    white-space: nowrap;
    z-index: -6;
}
.style::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.style::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.style::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
    width: 8px;
}

.style::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.style::-webkit-scrollbar-button {
    background: #ccc;
}

.style::-webkit-scrollbar-corner {
    background: #eee;
}

.style::-webkit-scrollbar-track-piece:end:vertical {
    background: #ddd;
}

.style::-webkit-scrollbar-thumb:window-inactive {
    background: #999;
}

.style::-webkit-scrollbar-corner:window-inactive {
    background: #ccc;
}

.style::-webkit-resizer {
    background: #ccc;
}

.styleHovered, .hardStyleHovered {
    width: 0px;
}
.style label{
    color: white;
    margin: 10px 10px;
}
td input,td select{
    width: 80px;
    color: white;
    height: 30px;
    margin: 10px 10px;
    padding: 2px;
    background-color: rgb(41, 41, 41);
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
}
.activeElementClass{
    border: 2px solid orangered !important;
}
.style p{
    color: white;
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    cursor: pointer;
}
.styleTable{
    max-height: 0;
    overflow: hidden !important;
    transition: 1s ease-in-out;
}
.expandTextTable,.expandAdditional, .expandBoxStyle, .expandPositioning, .expandfexboxAndGridStyles, .expandMiscellaneous, .expandBackgroundStyles{
    max-height: 2000px;
}
.style svg{
    position: absolute;
    right: 8px;
    font-size: 20px;
    padding: 4.5px;
} 
.styleBlocks{
    margin: 2px;
    border-radius: 10px;
    border: 1px solid white;
}
.styleTable tr{
    border-bottom: 1px solid rgb(109, 109, 109);
}