.style {
    position: fixed;
    right: 0;
    width: 260px;
    background-color: rgb(41, 41, 41);
    height: 100vh;
    margin-top: 45px;
    overflow-y: scroll;
    transition: 1s ease-in-out;
    padding-bottom: 40px;
    white-space: nowrap;
}
.style::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.style::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.style::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
    width: 8px;
}

.style::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.style::-webkit-scrollbar-button {
    background: #ccc;
}

.style::-webkit-scrollbar-corner {
    background: #eee;
}

.style::-webkit-scrollbar-track-piece:end:vertical {
    background: #ddd;
}

.style::-webkit-scrollbar-thumb:window-inactive {
    background: #999;
}

.style::-webkit-scrollbar-corner:window-inactive {
    background: #ccc;
}

.style::-webkit-resizer {
    background: #ccc;
}

.styleHovered {
    width: 0px;
}
.style label{
    color: white;
    margin: 10px 10px;
}
td input,td select{
    width: 80px;
    color: white;
    height: 30px;
    margin: 10px 10px;
    padding: 2px;
    background-color: rgb(41, 41, 41);
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
}
.activeElementClass{
    border: 2px solid orangered;
}
.style p{
    color: white;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
}
.textTable, .boxStyle{
    max-height: 0;
    overflow: hidden !important;
    transition: 1s ease-in-out;
}
.style p::after{
    content: '';
    display: inline-block;
    background-color: white;
    width: 55px;
    height: 2px;
    margin-bottom: 3px;
    margin-left: 5px;
}
.style p::before{
    display: inline-block;
    content: '';
    background-color: white;
    width: 55px;
    height: 2px;
    margin-bottom: 3px;
    margin-right: 5px;
}
.expandTextTable, .expandBoxStyle{
    max-height: 1000px;
}
.style svg{
    font-size: 15px;
} 
.styleBlocks{
    margin: 2px;
    border-radius: 10px;
    border: 1px solid white;
}