.style {
    position: fixed;
    right: 0;
    width: 250px;
    background-color: rgb(41, 41, 41);
    height: 100vh;
    margin-top: 45px;
    overflow-y: scroll;
    transition: 1s ease-in-out;
    padding-bottom: 40px;
}
.styleHovered {
    width: 0px;
}
.style label{
    color: white;
    margin: 10px 10px;
}
td input,td select{
    width: 60px;
    color: white;
    height: 30px;
    margin: 10px 10px;
    padding: 2px;
    background-color: rgb(41, 41, 41);
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
}
select{
    width: 100px !important;
}
.activeElementClass{
    border: 2px solid orangered;
}
.style p{
    color: white;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
}
.textTable, .boxStyle{
    max-height: 0px;
    overflow: hidden !important;
}
.style p::after{
    content: '';
    display: inline-block; /* Display the pseudo-element inline */
    background-color: white;
    width: 70px;
    height: 2px;
    margin-bottom: 3px;
    margin-left: 5px;
}
.style p::before{
    display: inline-block;
    content: '';
    background-color: white;
    width: 70px;
    height: 2px;
    margin-bottom: 3px;
    margin-right: 5px;
}
.expandTextTable, .expandBoxStyle{
    max-height:fit-content;
}