.toolBar {
    background-color: black;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5;
    box-sizing: border-box; 
}

.toolBar ul,
.list ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
}
.toolBar li {
    font-size: x-large;
    text-align: center;
    position: relative;
    display: inline-block;
    cursor: grab;
    margin: 5px;
    padding: 0px 5px;
    justify-content: center;
}

.toolBar li::after {
    position: absolute;
    content: '';
    width: 1.5px;
    background-color: rgb(90, 89, 89);
    height: 35px;
    bottom: 0px;
    right: -3px;
}

.elements {
    background-color: rgb(41, 41, 41);
    color: white;
    float: left;
    width: 0px;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    transition: 1s ease-in-out;
    white-space: nowrap;
    margin-top: 45px;
    overflow-y: scroll;
    padding-bottom: 50px;
}

.elements::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.elements::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.elements::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
    width: 8px;
}

.elements::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.elements::-webkit-scrollbar-button {
    background: #ccc;
}

.elements::-webkit-scrollbar-corner {
    background: #eee;
}

.elements::-webkit-scrollbar-track-piece:end:vertical {
    background: #ddd;
}

.elements::-webkit-scrollbar-thumb:window-inactive {
    background: #999;
}

.elements::-webkit-scrollbar-corner:window-inactive {
    background: #ccc;
}

.elements::-webkit-resizer {
    background: #ccc;
}

.add:hover,
.download:hover {
    cursor: pointer;
}

.elementHovered {
    width: 200px;
}
.elements h5 {
    margin-top: 10px;
    margin-left: 32px;
    position: relative;
}

.elements h5::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 105px;
    background-color: white;
    bottom: -7px;
    left: 17px;
}

.mainList {
    width: 100% !important;
    margin-left: 0px !important;
    border: 0px !important;
    height: auto !important;
    position: relative;
    white-space: nowrap;
}

.mainList::after {
    content: '';
    position: absolute;
    background-color: rgb(136, 134, 134);
    height: 1px;
    min-width: 160px;
    bottom: 0px;
    left: 20px;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list li {
    margin: 5px 1%;
    width: 45%;
    height: 90px;
    border: 1px solid white;
    border-radius: 5px;
    padding-top: 10px;
    text-align: center;
    overflow: hidden;
    float: left;
    cursor: grab;
    box-sizing: border-box;
}

.list li:nth-child(2n+1) {
    margin-right: 2%;
}

.list li:nth-child(2n+1)::after {
    content: '';
    display: table;
    clear: both;
}

.list svg {
    font-size: x-large;
}

.styleHovered {
    width: 0px;
}

.mainList p {
    color: white !important;
}