.toolBar{
    background-color: black;
    color: white;
    width: 35px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    float: left;
}
.toolBar ul, .list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.toolBar li{
    font-size: x-large;
    text-align: center;
    position: relative;
}
.toolBar li::after{
    position: absolute;
    content: '';
    width: 29px;
    background-color: rgb(90, 89, 89);
    height: 1.5px;
    bottom: -3px;
    left: 3px;
}
.elements{
    background-color: rgb(41, 41, 41);
    left: 35px;
    color: white;
    float: left;
    overflow: hidden;
    width: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: 1.5s ease-in-out;
    white-space: nowrap;
}
.add:hover,.download:hover{
    cursor: pointer;
}
.elementHovered{
    width: 200px;
}
.style{
    width: 250px;
    float: right;
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: 1.5s ease-in-out;
}
.main{
    position: relative;
}
.elements h5{
    margin-top: 10px;
    margin-left: 32px;
    position: relative;
}
.elements h5::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 105px;
    background-color: white;
    bottom: -7px;
    left: 17px;
}
.mainList{
    width: 100% !important;
    margin-left: 0px !important;
    border: 0px !important;
    height: auto !important;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}
.mainList::after{
    content: '';
    position: absolute;
    background-color: rgb(136, 134, 134);
    height: 1px;
    min-width: 160px;
    bottom: 0px;
    left: 20px;
}
.list li{
    margin: 5px 10px;
    width: 80px;
    height: 90px;
    border: 1px solid white;
    border-radius: 5px;
    padding-top: 10px;
    text-align: center;
    overflow: hidden;
    float: left;
    cursor: grab;
}
.list svg{
    font-size: x-large;
}
.styleHovered{
    width: 0px;
}
.mainList p{
    color: white !important;
}