.signInForm{
    box-shadow: 1px 1px 5px;
    border-radius: 5px;
}
form input:hover{
    border-color: #EC4899;
    transition: 1s ease;
}
form button[type="submit"]:hover{
    box-shadow: 1px 1px 5px 1px #EC4899;
}