.navbar{
    width: 100%;
    display: flex;
    background: black;
    padding: 1px 3%;
}
.logo{
    width: 150px;
    cursor: pointer;
}
.navbar ul{
    flex: 1;
    list-style:  none;
    text-align: center;
    margin-top: 30px;
}
.navbar li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    color: white;
    float: right;
    justify-content: center;
}
.navbar li img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: -10px;
}


